@import '../../index.scss';

header {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/header_bg_blue.jpg');
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    overflow: hidden;
    color: rgb(36, 25, 25);
    position: relative;

    & #logo {
        position: absolute;
        top: 2em;
        left: 2em;
        width: 8rem;
    }

    & .hero-container {
        position: absolute;
        height: 65vh;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0px;
        
        & .hero-wrapper {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;

            & .hero {
                position: absolute;
                z-index: 10;
                height: 100%;
                width: auto;
            }

        
            & #heroColor {
                z-index: 10;
                opacity: 0;
                animation: 6s ease-in 1s forwards fadeInHero ;
            }
            & #heroBlack {
                z-index: 9;
                // fill: white;

                & #mikeBody{
                    fill: rgba(255, 255, 255, 0.842);
                    stroke-width: 50px;
                    animation: 7s ease-in 0s forwards heroOutline;
                    stroke-dashoffset: 16300;
                }
            }
        }
    }
    

    & .intro-container{
        position: absolute;
        display: block;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
        overflow-wrap: normal;
        white-space: normal;
        white-space: nowrap;
        
        & .intro-wrapper {
            position: relative;
            font-size: 1.5rem;
            font-weight: 700;

            & > * {
                padding: 1rem;
                display: block;
                width: fit-content;
            }

            & > p {
               position: absolute;
            }
            
            & p:first-child {
                background-color: var(--color3);
                left: 20%;
                top: -3rem;
                
            }
            & p:last-child {
                background-color: var(--color5);    
                left: 10%;            
                bottom: -3rem;
            }
            
            & #name {
                background-color: var(--color1);
                font-size: 3rem;

            }
        }          
    }

}

@keyframes fadeInHero {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes heroOutline {
    0% {
        stroke-dasharray: 0 37105.504;
        opacity: 1;
    }
    80% {
        stroke-dasharray: 37105.504 0;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media screen and (min-width: $breakpoint2) {
    header {
        & .hero-container {
            height: 80vh;
            left: 20%;
        }

        & .intro-container {
            left: 60%;
            top: 25%;
        }
    }
}
@media screen and (min-width: $breakpoint3) {
    header {
        & .hero-container {
            left: 25%;
        }
        & .intro-container {
            top: 40%;
        }
    }
}
@media screen and (min-width: $breakpoint4) {
    header {
        & .hero-container {
            left: 30%;
        }
        & .intro-container {
            left: 60%;
            top: 40%;
        }
    }
}