@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$breakpoint1: 750px;
$breakpoint2: 1000px;
$breakpoint3: 1250px;
$breakpoint4: 2000px;


:root {


  // color-scheme: light dark;
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color1: #3493f8;
  --color2: #32aff8;
  --color3: #24caf8;
  --color4: #33ebf8;
  --color5: #33f8e8;

  --color5-tale: #33f8e8;                
  --color3-tale: #24caf8; 
  --color1-tale: #3493f8;

}

html {
  font-size: 12px;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: $breakpoint1) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: $breakpoint3) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: $breakpoint4) {
  html {
    font-size: 25px;
  }
}
